@charset "UTF-8";

#container{
	margin: 0 auto;
	width :600px;
    text-align: center;
	
}
#headInput{
    display: inline-block;
    list-style: none;
}
ul{
    padding: 0;
    background-color: white;
}
#input{
    width:400px;
    font-size: 20px;
    height: 32px;
}
#addBtn{
    margin-bottom: 2px;
    width: 100px;
    height: 30px;
    padding : 0;
    border : 1px solid;
    background-color: #dddddd;
    border-radius: 3px;
}

#ul{
    list-style: none;
    display: inline;
}

#ul>li{
    background-color: #bbbbbb;
}
span{
    text-align: right;
}
#ul>li>#text{
    text-align: left;
    color: white;
}
